/* body */
body {
    font-family: Arial sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    background: #fc0 /*url("../images/background_pizza.jpg")*/ no-repeat center top 100%;
}

/* Header */
#head {
    background-color: #fff;
    padding: 0.2em;
    margin: 0;

    width: 100%;
}

header {
    background-color: #3c3;
    padding: .5em;
    border-style: solid;
    border-width: thick 0 thick 0;
    width: 100%;
    overflow: hidden;
}

#navtitle {
    display: inline;
    padding-left: .5em;
    color: #030;
    text-shadow: none;
    margin-top: .5em;
    margin-bottom: .5em;
    text-decoration: none;
    float: left;
    font-weight: bold;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

nav {
    display: inline;
    float: right;
    padding-right: 1em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: .5em;
    border: 1px solid #060;
    border-radius: .5em;
    margin-top: .3em;
    margin-bottom: 1.0em;
    margin-right: .5em;
    text-decoration: none;
    background-color: #060;
}

nav ul a:link {
    color: #fff;
}

nav ul a:visited {
    color: #fff;
}

nav ul a:focus {
    color: #ff3;
}

nav ul a:hover {
    color: #ff6;
}

nav ul a:active {
    color: #ff6;
}

/* Images  */
img {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto
}

img.restaurant {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
footer {
    background-color: #3c3;
    padding: 0.5em;
    border-style: solid;
    border-width: thick 0 thick 0;
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden;
    /* Problem mit About seite, Footer zu hoch */
    /*position: absolute;
    bottom: 0; */

}

footer div {
    width: 20%;
    display: inline-block;
}

#openinghours {
    margin-left: 2%;
    float: left;
}

#quote {
    width: 25%;
    margin: 0 auto;
    float: left;
}

#address {
    margin-right: 2%;
    float: right;

}
