/* body */
body {
    font-family: Georgia;
    font-size: 1em;
    padding: 0;
    margin: 0;
    /*background: #ffc180 url("../images/pizza_from_above.jpeg") no-repeat center 10px 100%;*/
    background-color: #ffc180;
}

/* Header */
#head {
    background-color: #fff;
    padding: 0.2em;
    margin: 0;
    width: 100%;
}

header {
    background-color: #331a00;
    padding: .5em;
    width: 100%;
    overflow: hidden;
}

/* Titles*/
#maintitle {
    text-align: center;
    font-size: 250%;
    margin: 1em auto;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
.title {
    text-align: center;
    font-size: 200%;
    margin-top: .5em;
    margin-bottom: .5em;
}

/* Navigation */
#navtitle {
    display: inline;
    padding-left: .5em;
    color: #fff;
    text-shadow: none;
    margin-top: .5em;
    margin-bottom: .5em;
    text-decoration: none;
    float: left;
    font-weight: 900;
}

nav {
    display: inline;
    float: right;
    padding-right: 1em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: .5em;
    border: 1px solid #804200;
    border-radius: .5em;
    margin-bottom: 1.0em;
    margin-right: .5em;
    text-decoration: none;
    background-color: #804200;
    /*text-transform: uppercase;*/
    font-family: sans-serif;
}

nav ul a:link {
    color: #fff;
}

nav ul a:visited {
    color: #fff;
}

nav ul a:focus {
    color: #fff;
}

nav ul a:hover {
    color: #fff;
    background-color: #ffce99;
    border: 1px solid #ffce99;
}

nav ul a:active {
    color: #fff;
    background-color: #ffce99;
    border: 1px solid #ffce99;
}

/* Images  */
img {

    margin-left: auto;
    margin-right: auto;
}

img.restaurant {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#options img {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    display: block;
    float: left;
}

#options a img:hover {
    opacity: .5;
}

/*Pizzas*/
.menu {
    display: inline-block;
    margin-top: .5em;
    margin-bottom: 1.5em;
    margin-left: 3.75%;
    width: 20%;
    overflow: hidden;
}
.menu img {
    width: 100%;
}
.menu p {
    display: inline-block;
    float: left;
    margin: 0;
}
.price {
    display: inline-block;
    float: right;
}
.ingredients {
    clear: both;
}
.sauce {
    margin-left: .2em;
}

/* footer */
footer {
    background-color: #331a00;
    color: #fff;
    padding: 0.5em;
    width: 100%;
    overflow: hidden;
    /* Problem mit About-Seite, Footer zu hoch */
    /*position: absolute;
    bottom: 0; */

}

footer div {
    width: 20%;
    display: inline-block;
}

#openinghours {
    margin-left: 2%;
    margin-right: 14%;
    float: left;
}

#quote {
    width: 20%;
    margin-left: 10px;
    float: left;
}

#address {
    float: right;
}
