/* body */
body{
  font-family: Arial sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}
/* Header */
#head{
  background-color: #fff;
  padding: 0.2em;
  margin: 0;

  width:100%;
}
header{
  background-color: lightblue;
  padding: 0.5em;
  border-style: solid;
  border-width: thick 0 thick 0;
  width: 100%;
  overflow: hidden;
}

header h1{
  display: inline;
  padding-left: 0.5em;
}

nav{
    display:inline;
    float:right;
    padding-right: 1em;
}

nav ul{
    list-style:none;
}

nav ul li{
    display:inline-block;
}
nav ul a:link {
    color: #474dff;
  }
nav ul a:visited {
    color: #474dff;
  }
nav ul a:focus {
	color:#fff;
}
nav ul a:hover {
  color: #fff200;
  }
nav ul a:active {
	color:#fff;
}

/* Images  */
img{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto
}
img.restaurant{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
footer{
  background-color: lightblue;
  padding: 0.5em;
  border-style: solid;
  border-width: thick 0 thick 0;
  width: 100%;
  margin-bottom: 1em;
  overflow: hidden;
  /* Problem mit About seite, Footer zu hoch */
  /*position: absolute;
  bottom: 0; */

}
footer div{
  width: 20%;
  display: inline-block;
}
#openinghours{
  margin-left: 2%;
  float:left;
}
#quote{
  margin-left:15%;
  float: left;
}
#address{
  margin-right: 0;
  float: right;

}
